.OurMenuWrapper {
    width: 100%;
    background:   linear-gradient(-45deg,#140E0E 80%, #30241A );
    padding-bottom: 50px;
}

.menuChildWrapper {
    @apply xs:w-[95%] md:w-[92%] mx-auto
}

.menuHeadline {
    @apply font-Poppins font-bold xs:text-[6.5vw] md:text-[3.5vw] lg:text-[3.2vw] text-white max-w-[653px] mx-auto text-center pt-24 xs:leading-snug md:leading-[67px]
}

.menuWrapper {
    display: flex;
    flex-wrap: wrap;
    @apply md:space-x-7 text-center my-7 justify-center items-center 
    font-Poppins xs:gap-4 md:gap-0 xs:text-sm md:text-lg
}

.menuBtn {
    @apply  rounded-full ring-2 ring-white text-white opacity-60 py-2 px-3
}

.menuActiveBtn {
    @apply bg-[#F65F5F] duration-200 ease-out text-black ring-[#F65F5F]
}