.whyFoodHutWrapper {
    /* background : #140E0E; */
    background:   linear-gradient(to left,#140E0E 60%, #30241A );
    position: relative;
    width: 100%;

}

.whyFoodHutIcon {
    @apply absolute top-16 z-[-1]
}

.whyFoodArrow {
    @apply absolute top-16 left-[450px] xs:invisible lg:visible
}

.WhyFoodHutShape {
    @apply flex justify-center items-center mr-36 z-10
}